
.image-sliderfade  
{ 
  display: none; 
} 
  
img  
{ 
  vertical-align: middle;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  transition: border-color 1.6s ease; 
} 
  
/* Slideshow container */
.carousel  
{ 
  max-width: 1000px; 
  position: relative; 
  margin: auto; 
} 

li {
  list-style-type:none;
}
  
/* The dots/bullets/indicators */
.dot  
{ 
  height: 5px; 
  width: 5px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color: rgb(228 228 218); 
  border-width: 5 px; 
  border-style: solid; 
  border-radius: 50%; 
  display: inline-block; 
  transition: border-color 1.6s ease; 
}

.prev_image {
  text-decoration: none;
}

.next_image {
  text-decoration: none;
}

.active  
{ 
  border-color: rgb(123, 131, 52); 
}
  
/* Animation */
.fade  
{ 
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 1.5s; 
  animation-name: fade-image; 
  animation-duration: 1.5s; 
} 

.fade.active {
  display: unset;
}

.active_dots {
  /* width: fit-content; */
  margin-top: -20px;
  margin-left: -30px;
}

.carousel_slide {
  color: rgb(136 217 255);
  float: left;
  /* padding: 2px 40px; */
  text-decoration: none;
  transition: background-color .3s;
  font-size: 40px;
  border-radius: 5px;
  position: absolute;
  margin-top: -125px;
}

.carousel_slide:hover {
  color: rgb(136 217 255);
  font-weight: 700;
}

.carousel_slide.prev {
  margin-left: -160px;
}

.carousel_slide.next {
  margin-left: 140px;
}

  
/* @-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px)  
{ 
  .text {font-size: 11px} 
}  */ 


/* .center-con-next {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}


.round-next {
  position: absolute;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: 200px;
  margin-top: -190px;
  
}

.center-con-prev {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-prev {
  position: absolute;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: -300px;
  margin-top: -190px;
  transform: rotate(180deg);
}

.cta_prev{
  width:100%; cursor: pointer; position: absolute;
}

.cta_prev .arrow{left: 10%; top: 4px;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.prev {
background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

.cta_next{
  width:100%; cursor: pointer; position: absolute;
}

.cta_next .arrow{left: 10%; top: 4px;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.9);}
26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round-prev:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round-prev:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round-next:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round-next:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
} */
